/* font style link  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');



:root{
--orange-color : #E6533C ;
--para-color : rgb(135, 135, 135) ;
--darkGray : #222222 ;
--lightGray :  #393939 ;
}



/* universal selector  */
*{    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: black;
}

/* shared style  */
.orangeBtn{
    background-color: var(--orange-color);
    font-weight: 600;
    color: white;
    border-radius: 42px;
    border: none;
    padding: 10px 60px;
}

.allH1{
    font-size: 48px;
}

.para{
    font-size: .8rem;
    color: var(--para-color);
    text-align: center;
}


/* header starts  */
header {
    padding: 3rem 10rem 5rem;
    background: linear-gradient(180.00deg,rgba(72, 72, 72, 0) , rgb(38, 38, 38),rgba(65, 65, 65, 0) 100%) ;
    height: 100vh;
}

header > nav{
display: flex;
justify-content: space-between;
}


#navMenuIcon{
    display: none;
    width: 40px;
    height: 30px;
}

header nav h1 {
    color: var(--orange-color);
    margin: 0;
    padding: 0;
    font-style: italic;
}

header ul {
  display: flex;
  justify-content: space-around;
  padding:8px 20px 8px 4px;
  border-radius: 39px;
  align-items: center;
  gap: 3rem;
  list-style-type: none;
  text-decoration: none;
  border: 1px solid var(--lightGray);
}

header nav ul li a{
    text-decoration: none;
    color: rgb(187, 187, 187);
    font-weight: 500;

}

#navOrngBtn{
    padding: 5px 20px;
}

/* banner section  */
#bannerSection{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

#bannerSection > div{
    display:flex ;
    flex-direction: column;
    gap: 2rem;

}

#bannerSection > div > h1 {
  font-size: 4rem;
line-height: 5rem;
}

#dancingFont{
    font-family: "Dancing Script", cursive;
    font-size: 6rem;
    font-weight: normal;
}

#bannerSection > div > p{
   text-align: left;
}

#bannerSection > div > div{
display: flex;
gap: 1rem;
}

#transparentBtn{
    background:none;
    border: 2px solid white;
    
}

#bannerimgDiv{
    position: relative;
}

#bannerSection  img {
    /* width: 100%;
    height: 100%; */
    margin: 0 auto;
}

.card{
    display: flex;
    flex-direction: row;
    padding: 20px;
    backdrop-filter: blur(20px);
background: #30303043;
width: 230px;
height: 100px;
align-items: center;
justify-content: center;
gap: 14px;
border-radius: 12px;
border: 1px solid #ffffff1a;
}

#roundDiv{
    height:2rem;
    width: 2rem;
    background-color: var(--orange-color);
    border-radius: 100%;
}

.txtDiv{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.txtDiv h1{
    font-size: 1.5rem;
}

#secCardH1{
    font-size: 2rem;
}

#card1{
    position: absolute;
bottom: 10vh;
}

#card2{
    position: absolute;
top: 15vh;
right: 2vw;
}


/* habit section  */
#habitSection{
    padding: 5rem 10rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}

.habitCard{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

#habitSection div {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
}

.habitCard img{
    border-radius: 100%;
    border: 3px solid #3d3d3d;
}


/* run section  */
#runSection{
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 0rem 10rem 5rem;
padding: 2rem;
background-color:var(--darkGray);
border-radius: 20px;
}

#runImg{
    display: none;
}

#runSection div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: baseline;
    justify-content: center;
}

#runSection div p {
    text-align: left;
}

#runSection img {
    width: 100%;
    border-radius: 20px;
}

/* training Section  */
#trainingSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding: 2rem 10rem 5rem;
}

#trainingSection p {
    text-align: left;
    margin: 2rem 0;
}

.trainingCard{
    height: 30vh;
    position: relative;
}

.trainingCard p{
    position: absolute;
    font-size: 15px;
    font-weight: 500;
}

#overlay1,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#teamOverlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#overlay1 {
    background-color: rgba(0, 255, 255, 0.5);
  }

#overlay2 {
    background-color: rgba(255, 0, 0, 0.3);
  }

#overlay3 {
    background-color:  rgba(0, 0, 0, 0.5);
  }

#overlay4 {
    background-color:  rgba(0, 0, 0, 0.5); 
  }

#overlay5 {
    background-color: rgba(66, 255, 0, 0.3); 
  }

#overlay6 {
    background-color:  rgba(0, 71, 255, 0.3); 
  }

#trainingCardImg1 p{
    bottom:5vh ;
    left: 2.5vw;
    color: black;
    font-weight: 700;
}

#trainingCardImg2 p{
    top:2vh ;
    left: 2.5vw;
}

#trainingCardImg3 p{
    bottom:1vh ;
    left: 2.5vw;
}

#trainingCardImg4 p{
    top:1vh ;
    right: 3vh;
    color: rgb(255, 255, 255);
}

#trainingCardImg5 p{
    bottom:0 ;
    left: 2.5vw;
}

#trainingCardImg6 p{
    bottom:0;
    left: 2.5vw;
}


#trainingImgRow1 {
   display: grid;
   grid-template-columns: 30% 40% 30%;
   height: 30vh;
}

#trainingSection img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}



#trainingImgRow2 {
    display: grid;
    grid-template-columns:1.2fr .7fr 1.1fr;
    height: 30vh;
 }

/* bmi calculate div  */
#bmiSection{
    margin: 1rem 0 5rem;
    text-align: left;
}

#bmiTitleDiv{
width: 50%;
margin: 0 auto;
}

#bmiTitleDiv > p  {
text-align: left;
margin-bottom: 4rem;
}

#bmiCalculator > p{
    text-align: left;
margin-bottom: 1.5rem;
}

#bmiCalculateDiv{
    background-color: var(--darkGray);
    padding: 50px 10rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 45% calc(55% - 1rem);
    align-items: start;
    justify-content: space-between;
}

#bmiCalculateDiv table {
    margin-top: 2rem;
}

#bmiCalculateDiv table th{
    font-weight: 500;
}

#bmiCalculateDiv table td {
   font-weight: 400;
   color: var(--para-color);
   font-size: .9rem;
}

#bmiCalculateDiv table{
    padding:.6rem 1.7rem;
}


#bmiCalculateDiv th,td {
    padding:.6rem 1.3rem;  
}

#bmiCalculateDiv table , th,td {
    border: 1px solid var(--lightGray);
    border-collapse: collapse;
}


#bmiCalculator form{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: .7rem;
    margin-bottom: 1.5rem;
}

#activityFactor{
    grid-column: span 2;
}

input , select {
    background-color: var(--lightGray);
    border-radius: 8px;
    border: none;
    padding: 2vh 20px;
    font-size:1rem ;
    color: var(--para-color);
}

/* team section  */
#teamSection{
    padding: 5rem 10rem;
    text-align: center;
}

#teamSection > div {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 1.2rem;
    gap: 1.2rem;
    background:var(--darkGray);
    margin-top: 3rem;
    border-radius: 18px;
}

.teamImgDiv {
   position: relative;
}

#teamSection > div div img{
width: 100%;
height: 16rem;
object-fit: cover;
border-radius: 18px;
overlay:rgb(62, 62, 62);
background-blend-mode: overlay;
}

.teamOverlay {
    background-color: rgba(0, 0, 0, 0.201);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 16rem;
    border-radius: 18px;
  }

.teamText {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.teamText p {
    text-align: left;
}

/* footer  */
footer {
    padding: 3rem 10rem;
    background-color: var(--darkGray);
}

footer > div {
    display: grid;
    grid-template-columns: 50%  30% 20%; 
}

#footerTxtDiv > .para {
    text-align: left;
    padding-right: 8vw;
    margin-top: 1.5rem;
}

#footerTxtDiv > h1{
font-style: italic;
color: var(--orange-color);
font-size: 4rem;
}

footer ul {
    list-style-type: none;
}

footer ul li{
    margin-top: 1.4rem;
    font-size: 1.35rem;
    color: var(--para-color);
    font-weight: 500;
}


footer hr {
    opacity: 15%;
    margin: 3rem 0 2rem 0;
}

#reserved {
    color: var(--para-color);
    font-size: 1.2rem;
    text-align: center;
}

/* package Section start  */
#packageSection{
    margin: 5rem 10rem 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#packageSection > div{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
    margin-top: 2.5rem;
}

.packageCard {
    display: flex;
    flex-direction: column;
background: var(--darkGray);
align-items: start;
justify-content: center;
gap: 10px;
border-radius: 12px;
border: 1px solid #ffffff1a;
position: relative;
}

.packageTitle {
    padding: .8rem 0 .8rem 1rem;
    width: 100%;
    background: var(--lightGray);
    border-radius: 12px 12px 0 0;
    font-size: 1.3rem;
    font-weight: 600;
}

.packageDetails{
padding: .7rem 1rem ;
}

.perMonth {
    font-size: .8rem;
    font-weight: normal;
    color: #999999;
}

.packageTxt {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
}

.packageTxt img {
    width: 24px;
}

.packageCard button {
    margin: 1.7rem 1rem;
    width: calc(100% - 2rem);
}

#popular {
    position: absolute;
    top: -14px;
    right: 17px;
    background-color: var(--orange-color);
    padding: 1px 15px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    border-radius: 12px;
    /* border: 1px solid rgb(255, 255, 255); */
}














@media screen and (max-width: 576px) {

/* button */
.orangeBtn{
    font-weight: 500;
    border-radius: 42px;
    padding: .7rem 1rem;
}

/* all h1  */
.allH1{
    font-size: 30px;
}

#hiddenInSm{
    display: none;
}

    header {
        padding: 2rem 1rem;
        height: auto;
    }

    header nav {
        margin-bottom: 1rem;
    }
     
    header nav h1{
       font-size: 2rem;
    }

    header ul {
        display: none;
    }

    #navMenuIcon{
        display: block;
        width: 30px;
        height: 20px;
    }

 /* banner  */
    #bannerSection{
        grid-template-columns: 100%;
        padding: .5rem 0;
    }
    
    #bannerSection > div{
        gap: 1rem;
    }
    
    #bannerSection > p{
       padding-right: 3rem;
    }
    
    #bannerSection > div > h1 {
      font-size: 2rem;
    line-height: 2.7rem;
    }
    
    #dancingFont{
        font-size: 3rem;
    }
    
    #bannerSection > div > div{
    gap: .6rem;
    margin: 0 auto;
    }

    #bannerJoinBtn{
        padding: 10px 2.3rem;
    }
    
    #bannerSection  img {
width: 100%;
    }

    .txtDiv h1 , #secCardH1{
        font-size: 1rem;
    }

    .card{
        padding: 10px 0;
        backdrop-filter: blur(20px);
    background: #30303043;
width: 150px;
    height: 80px;
    }
    
    #card1{
    bottom:35vh;
    }
    
    #card2{
    top: 10vh;
    }
    
    
    /* habit section  */
    #habitSection{
        padding: 0 1rem 1rem;
        gap: .7rem;
        
    }
    
    #habitSection div {
flex-direction: column;
    }

   
    /* run section  */
#runSection{
    grid-template-columns: 1fr;
    margin:2rem 1rem;
padding: 1.3rem;

}

#runImg{
    display: block;
    margin-top: 2rem;
}

#runSection div h1{
margin-right: 2rem;
}

#runSection div button {
    width: 100%;
}


/* tarining section  */

#trainingSection{
    align-items: baseline;
    padding: 2rem 1rem;
}

#trainingCardImg3 ,#trainingCardImg6 , #trainingSection >p >br , #runSection br , #runImgLgDevice , #teamSection br , .notInSm {
    display: none;
}

#trainingCardImg1 p , #trainingCardImg5 p , #trainingCardImg4 p {
    bottom: -24px;
    left: 16px ;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

#trainingCardImg2 p{
    top:-20px ;
    left: 1.3rem;
    color: rgb(255, 255, 255);
}

.trainingCard{
    height: 15vh;
}

#trainingImgRow1 , #trainingImgRow2 {
    grid-template-columns: 50% 50%;
    height: 15vh;
 }

 #trainingSection img {
    height: 15vh;
}


/* bmi calculate div  */
#bmiSection{
    margin: 1rem 0;
}

#bmiTitleDiv{
width: 100%;
padding: 0 1rem;
}

#bmiTitleDiv > p  {
margin-bottom: 2rem;
}

#bmiCalculator > p{
margin-bottom: 1.5rem;
}

#bmiCalculateDiv{
    padding:1rem;
    gap: 2rem;
    grid-template-columns:1fr;
}

#bmiCalculateDiv table {
    padding:.5rem 1rem;  
}

#bmiCalculateDiv th,td {
    padding:.6rem;  
}

#bmiCalculator form{
    grid-template-columns:calc(50% - .5rem) calc(50% - .5rem);
}

#activityFactor{
    grid-column: span 2;
}

input , select {
    padding: 12px 20px;
    width: 100%;
}

#bmiCalculator > button {
padding: .6rem 3.4rem;
}

/* team section  */
#teamSection{
    padding: 3rem 1rem;
}

#teamSection > p{
    padding: 1rem 2rem;
}

#teamSection > div {
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;
}

#teamMember3 {
    order: 2;
}

#teamMember6 {
    order:4 ;
}

/* footer  */
footer {
    padding: 3rem 1rem;
}

footer > div {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 3rem;
}

#reserved {
    text-align: left;
}

/* package Section  */
#packageSection br {
    display: none;
}

#packageSection{
    margin:3rem 1rem 1rem;
}

#packageSection > div{
    grid-template-columns: repeat(1 , 1fr);
}







    
}
















